@import url('http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import url('http://fonts.googleapis.com/css?family=Fjalla+One');

body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: dimgray;
    height: 100%;
    margin: 0;
}

html {
    height: 100%;
}

.site {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.content {
    border-top: 1px solid lightgray;
}

#title {
    font-family: 'Fjalla One', 'Yanone Kaffeesatz', sans-serif;
    font-size: 4.3em;
    color: dimgray;
    margin-top: 65px;
}

#title img {
    vertical-align: middle;
}

#title div {
    margin-left: -100px;
    display: inline-block;
    transform: scale(0.6, 1); /* W3C */
    -webkit-transform: scale(0.6, 1); /* Safari and Chrome */
    -moz-transform: scale(0.6, 1); /* Firefox */
    -ms-transform: scale(0.6, 1); /* IE 9 */
    -o-transform: scale(0.6, 1); /* Opera */
    vertical-align: middle;
}

.logo {
    padding-bottom: 7px;
}

.selected {
    color: #2e2e2e;
}

.site-content {
    overflow: scroll;
    padding: 10px;
}

.photos {
    text-align: center;
}

#header {
    padding-bottom: 40px;
}

#footer {
    padding: 10px;
    text-align: right;
}

.ham {
    background-color: white;
}