@import url('http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import "../less/vars";
@import "../less/lesshat";

.font() {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: dimgray;
}

body {
  .font();
  font-size: 1.7em;
  height: 100%;
  background-color: @backgroundColor;
}

a:link, a:visited, a:hover, a:active {
  color: @accentColor;
}

html {
  height: 100%;
}

.logo {
  margin-left: 20px;
  width: 300px;
  max-width: 60%;
}

#site {
  background-color: @backgroundColor;
  height: 100%;
}

.main {
  height: 100%;
}

.item {
  position: relative;
  height: 28px;
  line-height: 28px;
  text-indent: 30px;
  cursor: pointer;
}

.menu-header {
  .horizontal-gradient(rgba(214, 214, 214, 1) 0%, rgba(214, 214, 214, 0) 77%); /* FF3.6+ */
  cursor: auto;
  color: @accentColor;
}

.item-selected, .red {
  color: @accentColor;
}

.photos {
  text-align: center;
  max-height: 100%;
}

.drawerPhoto {
  margin: -3px 0 0 -15px;
}

@media screen and (max-width: 767px) {
  .drawerPhoto {
    display: none;
  }
}

.marginBottom {
  margin-bottom: 10px;
}

.spaced {
  margin: 0 3px;
}

.images {
  padding-bottom: 10px;
  overflow-x: auto;
  white-space: nowrap;
}

.pressImages {
  margin-top: 40px;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.clearFloat {
  clear: both;
}

.halfWidth {
  max-width: 40%;
}

.twoThirds {
  max-width: 66%;
}

.quote {
  width: 200px;
  margin: 20px;
  font-family: serif;
}

.quoteText {
  font-style: italic;
}

.quoteSource {
  font-size: 0.8em;
  font-weight: bold;
}

.card {
  display: inline-block;
  margin: 10px;
}

.card img {
  max-width: 100%;
}

.bold {
  font-weight: bold;
}

.homeImage {
  max-width: 45%;
}

@media screen and (max-width: 767px) {
  .homeImage {
    max-width: 90%;
  }
}

.fotorama__caption {
  .font();
}

.bigger {
  font-size: 1.3em;
}