@import url('http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import url('http://fonts.googleapis.com/css?family=Fjalla+One');

body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: dimgray;
    height: 100%;
    margin: 0;
}

a:link, a:visited, a:hover, a:active {
    color: darkred;
}

html {
    height: 100%;
}

.site {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.content {
background-color: white;
}

#title {
    font-family: 'Fjalla One', 'Yanone Kaffeesatz', sans-serif;
    font-size: 4.3em;
    color: dimgray;
    margin-top: 65px;
}

#title img {
    vertical-align: middle;
}

#title div {
    margin-left: -100px;
    display: inline-block;
    transform: scale(0.6, 1); /* W3C */
    -webkit-transform: scale(0.6, 1); /* Safari and Chrome */
    -moz-transform: scale(0.6, 1); /* Firefox */
    -ms-transform: scale(0.6, 1); /* IE 9 */
    -o-transform: scale(0.6, 1); /* Opera */
    vertical-align: middle;
}

.logo {
    max-width: 90%;
    padding-bottom: 7px;
}

.selected {
    color: #2e2e2e;
}

.mainContent {
    overflow-y: scroll;
    padding: 10px;
    height: 100%;
}

.photos {
    text-align: center;
    height: 100%;
}

#header {
    padding-bottom: 40px;
}

#footer {
    padding: 10px;
    text-align: right;
}

.drawerPhoto {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 !important;
}

.marginBottom {
    margin-bottom: 10px;
}

.spaced {
    margin: 0 3px;
}

.images {
    padding-bottom: 10px;
    overflow-x: scroll;
    white-space: nowrap;
}

.pressImages {
    margin-top: 40px;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}

.clearFloat {
    clear: both;
}

.halfWidth {
    max-width:50%;
}

.twoThirds {
    max-width: 66%;
}

.quote {
    width: 200px;
    margin:20px;
    font-family: serif;
}

.quoteText {
    font-style: italic;
}

.quoteSource {
    font-size: 0.8em;
    font-weight: bold;
}
