core-scaffold::shadow core-toolbar {
    background: white;
    color: black;
}

.menu {
    display: inline-block;
    width: 100%;
    margin: 30px;
}

.item {
    position: relative;
    height: 28px;
}

.item-selected {
    color: darkred;
}

paper-ripple {
    color: darkred;
}

#navheader {
    background-color: white;
    height: 128px;
}

.card {
    display: inline-block;
    margin: 20px;
}

.card img {
    margin-bottom: -3px;
}


core-scaffold::shadow core-drawer-panel::shadow ::content[select="[drawer]"] > * {
    box-shadow: none;
}

core-scaffold > core-header-panel::shadow #mainPanel {
    border-top: 1px solid lightgray;
}

core-scaffold::shadow core-toolbar {
    height: 128px;
}